#page-top {
  nav {
    .navbar-brand {
      margin: 0;
      span .rounded-circle {
        border-radius: 0% !important;
        clip-path: circle(35% at 50% 50%);
      }

      .green_dot {
        position: absolute;
        left: 195px;
        top: 120px;
        padding: 0 1rem;
        z-index: 11111;
        font-size: 1rem;
        color: rgb(79, 255, 79);
        animation: heart 1.8s infinite linear alternate;
      }

      .navbar-collapse .navbar-nav .nav-item {
        text-align: left !important;
      }
    }
  }
}

@keyframes heart {
  0% {
    border: 0px solid lightgreen;
    box-shadow: 0 0 3px lightgreen;
  }
  100% {
    border: 5px solid lightgreen;
    box-shadow: 0 0 5px lightgreen;
  }
}

#sideNav {
  text-align: left;
}

.mb-0 {
  font-size: 3rem !important;
  color: white !important;
  text-align: center;
  .text-primary {
    color: #495057 !important;
  }
}

.subheading {
  color: #ffffffad !important;
  font-size: 1.3rem !important;
  text-align: center;
  padding-top: 1rem;
}

section.resume-section {
  min-height: 0 !important;
}

section.resume-section .resume-section-content {
  width: 100%;
  text-align: center;
}
.lead {
  text-align: justify !important;
  padding: 20px !important;
}

.flex-grow-1 {
  text-align: justify !important;
  padding-left: 1rem !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
  padding: 0 2.1rem;
  width: 25%;
}

.fa-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  grid-gap: 14px;

  li {
    text-align: left !important;
    text-align: left !important;
    border: 1px solid orange;
    padding: 1rem;
    border-radius: 1px;
    box-shadow: 0px 0px 4px #bd5d38;
    span {
      padding: 0rem;
    }
  }
}

.interetItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 10px;
  list-style: none;
  li {
    border: 1px solid orange;
    padding: 1rem;
    border-radius: 1px;
    box-shadow: 0px 0px 4px #bd5d38;
  }
}

.langItems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  list-style: none;
  li {
    border: 1px solid orange;
    padding: 1rem;
    border-radius: 1px;
    box-shadow: 0px 0px 4px #bd5d38;
  }
}

.dev-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  list-style: none;
  li {
    border: 1px solid orange;
    padding: 1rem;
    border-radius: 1px;
    box-shadow: 0px 0px 4px #bd5d38;
  }
}
